td {
    /* Propiedad para acortar el texto */
    text-overflow: ellipsis;
    /* Propiedad para mostrar todo el contenido */
    white-space: nowrap;
    /* Propiedad para ocultar el contenido que desborda */
    overflow: hidden;
    max-width: 200px;
}

.portada-imagen {
    /*Tamaño de la imagen dentro de la tabla del 10% */
    max-width: 10%;
}

