nav{
    background-color: hsl(0, 0%, 0%);
    font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
   
  
}
body{
    font-size: 1rem;
    background-color: hsl(0, 0%, 50%);

}

/* Estilo para Pagina Premium*/

.plan-container {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Arial', sans-serif;
    
}

.plan {
    border: 2px solid #00ffea;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: #1e1e1e;
    box-shadow: 0 0 20px rgba(0, 255, 234, 0.5);
    animation: fadeInDown 1s ease;
    -webkit-animation: fadeInDown 1s ease;
}

.plan h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.plan .price {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #00ffea;
}

.plan .features {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.plan .features li {
    margin-bottom: 10px;
    font-size: 18px;
}
/*
.plan .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}
*/
.price {
    font-size: 32px;
    font-weight: bold;
    color: #00ffea;
    margin-bottom: 20px;
}

.features {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

.features li {
    position: relative;
    padding-left: 30px;
}

.features li:before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #00ffea;
    position: absolute;
    left: 0;
    top: 0;
}
/*
.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    transition: background-color 0.3s;
}
*/
/*
.btn:hover {
    background-color: #0056b3;
}
*/
.btn i {
    margin-right: 5px;
}
/*
.btn-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 123, 255, 0.5);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}
*/
/*
.plan .btn:hover {
    background-color: #0056b3;
}
*/
.animated-title {
    animation: bounce 1s infinite alternate; /* Aplica la animación "bounce" */
}

@keyframes bounce {
    0% {
        transform: translateY(0); /* Sin desplazamiento vertical */
    }
    100% {
        transform: translateY(-10px); /* Desplazamiento hacia arriba */
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cat-container {
    position: relative;
    height: 100px; /* Altura del contenedor del gatito */
}

.cat-animation {
    width: 100px;
    height: 100px;
    background-image: url('gato.png');
    /*Rutadelaimagendelgatito*/background-size: cover;
    position: absolute;
    bottom: 0;
    /*Posicióninicialdelgatito*/left:15%;
    /*Centraelgatitohorizontalmente*/transform: translateX(-50%);
    /*Ajustalaposiciónhorizontal*/animation: catJump 1s infinite alternate;
    -webkit-animation: catJump 1s infinite alternate;
}

@keyframes catJump {
    0% {
        bottom: 20px; /* Posición inicial del salto */
    }
    50% {
        bottom: 40px; /* Posición máxima del salto */
    }
}


/* Estilos para la alerta personalizada */
.custom-alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  /* Estilos para el botón de cerrar */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  
.carrusel-mangas{

   display: grid;
   grid-template-columns: minmax(100px,1fr)  ;
   
}

.card.shadow-sm.position-relative {
    max-width: 350px; /* Ancho máximo de la tarjeta */
}
.card {
    transition: transform 0.3s ease;
    color: red;

}

/* Define el efecto de agrandamiento al pasar el cursor */
.card:hover {
    transform: scale(1.05);
}
.album {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card {
    border: 2px solid #00ffea;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: #1e1e1e;
    box-shadow: 0 0 20px rgba(0, 255, 234, 0.5);
    animation: fadeInDown 1s ease;
    -webkit-animation: fadeInDown 1s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.badge {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    color: white; 
    background-color: #000000; 
    border-color: #007bff; 
}

.card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
}
/* Estilos para el icono de visualizaciones */


.text-body-secondary {
    font-size: 1rem;
   
    width: 3.5vw;
    height: 4vh;;
    text-align: center;
    color: #007bff;
   font-weight: bold;
    margin-right: 5px;
   border-radius: 15px ;
  
    
}
.text-body-secondary .fa-eye {
    color: #007bff; 
    margin-right: 0.5rem; 
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    background-color: hsl(0, 0%, 1%);
    padding: 0.75rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
  font-size: 1.6rem;
  font-style: normal;
}

.card-text {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: aqua;
    font-family: "Alfa Slab One", serif;
    font-size: 0.8rem;
  font-style: normal;
}
/*
.btn-outline-light {
    
    color: hsl(120, 3%, 6%);
    border-color: hsl(0, 0%, 80%);
}
*/
/*
.btn-outline-light:hover {
    background-color: hsl(0, 0%, 80%);
}
*/
.text-body-secondary {
    
    color: hsl(0, 100%, 48%);
}

.text-muted {
    color: hsl(0, 100%, 49%);
}

.container-ul-img-sb{
    display: none;
}

.serp{
 margin-left: auto;
 margin-right: auto;
margin-top: 400px;

}


.link-margin{
    margin-right: 5px;
   
}

.ul-center{

    margin-right: auto;
    margin-left: auto;

}
.nav-item {
    display: flex; 
    align-items: center; 
}

.nav-link {
    display: flex; 
    align-items: center; 
   

}

.img-premium {
    margin-right: 5px; 
    width: 40px; 
    height: auto; 
}

.navbar-nav .nav-item:not(:last-child) {
    margin-right: 15px; 
}
.colsor{
    color: rgb(255, 252, 252);
}

.container--img-anime{
    position: absolute;
    left: 370px;
    top: 10px;
    background-color: white;
    border-radius: 50% ;
    border: 1px solid hsl(207, 100%, 50%)    ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}

/* LOGIN */


@media (max-width: 1890px)  {
    .container--img-anime {
    
        left: 350px;
    }
}

@media (max-width: 1855px)  {
    .container--img-anime {
       
        left: 335px;
    }
}

@media (max-width: 1810px)  {
    .container--img-anime {
    display: none;
    }
}
@media (max-width: 992px) {
   .header-est {
    
        align-items: stretch;
       
        position: fixed;
        top: 0;
        right:  0;
        width: 37vw;
        height: 20vh;
        z-index: 1000;
  
    }

    .nav-item,
    .nav-link {
        padding: 15px 0;
        position:relative;
        z-index:5000 ;
    }

    .container-ul-img-sb {
        display: inline-block;
        position: absolute;
        opacity: 25%;
        height: auto;
        max-height: 350px;
        width: auto;
        left: 1.3rem;
        bottom: 14em;
    }

    .collapse.navbar-collaps {
        overflow: hidden;
    }

    .title-container,
    .card-img-top,
    .card-body,
    .badge,
    .btn-group,
    .text-body-secondary {
        padding: 0.5rem;
    }

    .title-container h5 {
        font-size: 1.2rem;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        padding: 1rem;
    }

    .badge {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .btn-group {
        margin-bottom: 0.5rem;
    }

    .text-body-secondary {
        font-size: 0.8rem;
    }

    main {
        margin-top: 56px;
        margin-left: 50vw;
        padding-top: 56px;
        position: relative;
    }

    footer {
      
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56px;
        z-index: 1000;
    }

    .container-wrapper {
        display: flex;
        flex-direction: column;
    }

    .carousel-wrapper {
        order: 2; /* Cambiar el orden del carrusel para que aparezca después en dispositivos móviles */
    }


    
.container-wrapper {
    display: flex;
}

.manga-section {
    flex: 1; /* La sección de mangas ocupa el espacio restante */
    margin-left: 20px; /* Ajusta el margen para separar el carrusel de la sección de mangas */
}

.container-fluidd{
    position: sticky;
    bottom: 100px;
   
}
.navbar-toggler{

    position: sticky;
    z-index: 9997;
 

}


}


    




@media (max-height:770px){

    .container-ul-img-sb{
        display: none;
        

    }
}
#carouselExampleDark {
    max-width: auto; 
    width: 100vw;;
 max-height: 355px;
    margin: 0 auto; 
    position: absolute; 
    overflow: hidden; 
  }

/* Estilos que se aplican a las cards y sus atributos*/
.card-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header {
    text-align: center;
  
    background-color: #1f1a3b;
    border-bottom: 2px solid #c3073f;
}

.header h1 {
    font-size: 3rem;
    color: #c3073f;
    margin: 0;
}
