
nav{
    background-color: hsl(0, 0%, 0%);
    font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
   
  
}
.container-ul-img-sb{
    display: none;
}

body{
    font-size: 1rem;
    background-color: hsl(0, 0%, 50%);

}

.link-margin{
    margin-right: 4px;
   
}

.ul-center{

    margin-right: auto;
    margin-left: auto;

}
.nav-item {
    display: flex; 
    align-items: center; 
    position: relative;
    z-index: 2;
}

.nav-link {
    display: flex; 
    align-items: center; 
   

}

.img-premium {
    margin-right: 5px; 
    width: 40px; 
    height: auto; 
}

.navbar-nav .nav-item:not(:last-child) {
    margin-right: 15px; 
}
.colsor{
    color: rgb(255, 252, 252);
}

.container--img-anime{
    position: absolute;
    left: 370px;
    top: 3px;
    background-color: white;
    border-radius: 50% ;
    border: 1px solid hsl(207, 100%, 50%)    ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}



@media (max-width: 1890px)  {
    .container--img-anime {
    
        left: 350px;
    }
}

@media (max-width: 1855px)  {
    .container--img-anime {
       
        left: 335px;
    }
}

@media (max-width: 1810px)  {
    .container--img-anime {
    display: none;
    }
}

@media (max-width: 992px) {
  header{
        display: flex;
       
        align-items: stretch;
        height: 100vh;
        width: 50vw;
        position: relative;
        z-index: 20;
        
    }
    .nav-item, .nav-link {
       padding: 15px 0;
       
    }
    .container-ul-img-sb{
        display: inline-block;
        position: absolute;
        opacity:25%;
        height: auto;
        max-height: 350px;
        width: auto;
        left: 1.3rem;
        bottom:14em;

    }
    .collapse navbar-collaps{

        overflow: hidden;
    }
    #carouselExampleDark{
 
    background-color: aqua;
    position: fixed;
    width: 25vw;
    height: 30vh;
    bottom: 880px;
    left: 310px;
    transform: transslate(-25%, -50%);
    /*Centrarverticalmente*/z-index: 1;
    -webkit-transform: transslate(-25%, -50%);
    -moz-transform: transslate(-25%, -50%);
    -ms-transform: transslate(-25%, -50%);
    -o-transform: transslate(-25%, -50%);
    border: 1px solid hsl(130, 100%, 50%);
}
#FooterExample{

margin: 0 auto;

}
.container__Caroosel{
border-bottom: 2px solid rgb(255,255,255);
display: none;
width: 100vw;
height: 100px;
position: absolute;
bottom: 600px;
left: 300px;

}

}
@media (max-height:770px){

    .container-ul-img-sb{
        display: none;
        

    }
}
#carouselExampleDark {
    max-width: auto; 
    width: 100vw;;
 max-height: 355px;
    margin: 0 auto; 
    position: absolute; 
    overflow: hidden; 
  }

  .carousel-item img {
    max-width: 100%;
    height: auto;
    height: 25%; 
    width: 50%;
  }

  /* Agregamos estilos para la línea animada */
  .linea-animada {
    position: absolute;
    bottom: 0;
    height: 5px; 
    width: 0; 
    background-color: red;
    animation: moverLinea 5s linear infinite;
  }

  /* Definición de la animación */
  @keyframes moverLinea {
    0% { left: 0; width: 0; background-color: red; } /* Inicio de la animación */
    25% { width: 25%; background-color: green; }
    50% { width: 50%; background-color: blue; } 
    75% { width: 75%; background-color: yellow; } 
    100% { left: 100%; width: 0; background-color: red; } /* Fin de la animación (línea oculta completamente) */
  }

 

@media (max-height:770px)  {
    
}
.container__Caroosel{
    border-bottom: 0.5px solid rgb(255,255,255);
    
    width: 100vw;
    height: 100px;
    position: absolute;
top: 363px;
   
    
    }